/* Reset some default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Set background colors and font styles */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: white;
}

/* Style the site header */
.site-header {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
}

#home-force {
    color: #E50914;
}

.site-header h1 {
    font-size: 36px;
}

.site-header p {
    font-size: 18px;
}

/* Style the main navigation */
.main-nav ul {
    list-style: none;
    background-color: #E50914;
    text-align: center;
    padding: 10px 0;
}

.main-nav ul li {
    display: inline;
    margin-right: 20px;
}

.main-nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Style the page container */
.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-wrap {
    flex: 1;
}

/* Style the main content */
.content {
    max-width: 1200px;
    width: 40%;
    float: left;
    margin: 20px auto;
    padding: 20px;
    background-color: #222;
    display: flex;
    flex-direction: column;
    word-wrap: calc();
}

.content section {
    margin-bottom: 30px;
}

.content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content h3 {
    font-size: 20px;
    margin-top: 20px;
}

/* Style the sidebar */
.sidebar {
    width: 33%;
    background-color: #222;
    color: white;
    padding: 20px;
    margin: 20px auto;
    display: inline;
    float: right;
    width: 40%;
}

.sidebar h2 {
    font-size: 24px;
}

.sidebar ul.review-list {
    list-style: none;
    padding: 0;
}

.sidebar ul.review-list li {
    margin-bottom: 10px;
}

.sidebar ul.review-list li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

input[type="password"] {
    padding: 10px 30px;
    border-radius: 4px;
}

input[type="submit"],
button {
    background-color: #E50914;
    color: #FFFFFF;
    margin: 20px;
    padding: 10px 40px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
    background-color: #FFFFFF;
    color: #E50914;
}

.account-settings {
    text-align: center;
}

#settings-title,
#change-pass-title {
    margin: 10px 0;
}