body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

/* .container {

} */

#title-force {
    color: #E50914;
}

input[type="text"],
input[type="password"] {
    padding: 10px 30px;
    margin: 8px auto;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #E50914;
    color: #FFFFFF;
    margin-top: 10px;
    padding: 10px 40px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #FFFFFF;
    color: #E50914;
}


#create-account a,
#forgot-password a {
    text-decoration: none;
    color: #E50914;
}